.navbar{
    display: flex;
    background-color: grey;
    justify-content: space-between;
}

 .logo-navbar{
    width: 100px;
    margin: 10%;
 }

.navbar-button button{
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 7px;
    margin-top: 30px;
}